* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background: rgb(238, 186, 94);
    background: linear-gradient(
      10deg,
      rgba(238, 186, 94, 1) 39%,
      rgba(189, 149, 55, 1) 71%
    );
    width: 100%;
    height: 100vh;
  }